<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeyboardShortcuts_cycle-layout</key>
	<string>{"carbonKeyCode":49,"carbonModifiers":2560}</string>
	<key>KeyboardShortcuts_cycle-layout-backward</key>
	<string>{"carbonKeyCode":49,"carbonModifiers":6656}</string>
	<key>KeyboardShortcuts_decrease-main</key>
	<string>{"carbonKeyCode":47,"carbonModifiers":2560}</string>
	<key>KeyboardShortcuts_display-current-layout</key>
	<string>{"carbonKeyCode":34,"carbonModifiers":2560}</string>
	<key>KeyboardShortcuts_expand-main</key>
	<string>{"carbonKeyCode":37,"carbonModifiers":2560}</string>
	<key>KeyboardShortcuts_focus-ccw</key>
	<string>{"carbonKeyCode":40,"carbonModifiers":2560}</string>
	<key>KeyboardShortcuts_focus-cw</key>
	<string>{"carbonKeyCode":38,"carbonModifiers":2560}</string>
	<key>KeyboardShortcuts_focus-main</key>
	<string>{"carbonKeyCode":46,"carbonModifiers":2560}</string>
	<key>KeyboardShortcuts_focus-screen-1</key>
	<string>{"carbonKeyCode":13,"carbonModifiers":2560}</string>
	<key>KeyboardShortcuts_focus-screen-2</key>
	<string>{"carbonKeyCode":14,"carbonModifiers":2560}</string>
	<key>KeyboardShortcuts_focus-screen-3</key>
	<string>{"carbonKeyCode":15,"carbonModifiers":2560}</string>
	<key>KeyboardShortcuts_focus-screen-4</key>
	<string>{"carbonKeyCode":12,"carbonModifiers":2560}</string>
	<key>KeyboardShortcuts_focus-screen-5</key>
	<string>{"carbonKeyCode":5,"carbonModifiers":2560}</string>
	<key>KeyboardShortcuts_focus-screen-ccw</key>
	<string>{"carbonKeyCode":35,"carbonModifiers":2560}</string>
	<key>KeyboardShortcuts_focus-screen-cw</key>
	<string>{"carbonKeyCode":45,"carbonModifiers":2560}</string>
	<key>KeyboardShortcuts_increase-main</key>
	<string>{"carbonKeyCode":43,"carbonModifiers":2560}</string>
	<key>KeyboardShortcuts_reevaluate-windows</key>
	<string>{"carbonKeyCode":6,"carbonModifiers":2560}</string>
	<key>KeyboardShortcuts_relaunch-amethyst</key>
	<string>{"carbonKeyCode":6,"carbonModifiers":6656}</string>
	<key>KeyboardShortcuts_select-column-layout</key>
	<string>{"carbonKeyCode":3,"carbonModifiers":2560}</string>
	<key>KeyboardShortcuts_select-floating-layout</key>
	<string>{"carbonKeyCode":3,"carbonModifiers":2560}</string>
	<key>KeyboardShortcuts_select-fullscreen-layout</key>
	<string>{"carbonKeyCode":2,"carbonModifiers":2560}</string>
	<key>KeyboardShortcuts_select-tall-layout</key>
	<string>{"carbonKeyCode":0,"carbonModifiers":2560}</string>
	<key>KeyboardShortcuts_select-two-pane-layout</key>
	<string>{"carbonKeyCode":1,"carbonModifiers":2560}</string>
	<key>KeyboardShortcuts_select-wide-layout</key>
	<string>{"carbonKeyCode":1,"carbonModifiers":2560}</string>
	<key>KeyboardShortcuts_shrink-main</key>
	<string>{"carbonKeyCode":4,"carbonModifiers":2560}</string>
	<key>KeyboardShortcuts_swap-ccw</key>
	<string>{"carbonKeyCode":38,"carbonModifiers":6656}</string>
	<key>KeyboardShortcuts_swap-cw</key>
	<string>{"carbonKeyCode":40,"carbonModifiers":6656}</string>
	<key>KeyboardShortcuts_swap-main</key>
	<string>{"carbonKeyCode":36,"carbonModifiers":2560}</string>
	<key>KeyboardShortcuts_swap-screen-ccw</key>
	<string>{"carbonKeyCode":4,"carbonModifiers":6656}</string>
	<key>KeyboardShortcuts_swap-screen-cw</key>
	<string>{"carbonKeyCode":37,"carbonModifiers":6656}</string>
	<key>KeyboardShortcuts_throw-screen-1</key>
	<string>{"carbonKeyCode":13,"carbonModifiers":6656}</string>
	<key>KeyboardShortcuts_throw-screen-2</key>
	<string>{"carbonKeyCode":14,"carbonModifiers":6656}</string>
	<key>KeyboardShortcuts_throw-screen-3</key>
	<string>{"carbonKeyCode":15,"carbonModifiers":6656}</string>
	<key>KeyboardShortcuts_throw-screen-4</key>
	<string>{"carbonKeyCode":12,"carbonModifiers":6656}</string>
	<key>KeyboardShortcuts_throw-screen-5</key>
	<string>{"carbonKeyCode":5,"carbonModifiers":6656}</string>
	<key>KeyboardShortcuts_throw-space-1</key>
	<string>{"carbonKeyCode":18,"carbonModifiers":6656}</string>
	<key>KeyboardShortcuts_throw-space-10</key>
	<string>{"carbonKeyCode":29,"carbonModifiers":6656}</string>
	<key>KeyboardShortcuts_throw-space-2</key>
	<string>{"carbonKeyCode":19,"carbonModifiers":6656}</string>
	<key>KeyboardShortcuts_throw-space-3</key>
	<string>{"carbonKeyCode":20,"carbonModifiers":6656}</string>
	<key>KeyboardShortcuts_throw-space-4</key>
	<string>{"carbonKeyCode":21,"carbonModifiers":6656}</string>
	<key>KeyboardShortcuts_throw-space-5</key>
	<string>{"carbonKeyCode":23,"carbonModifiers":6656}</string>
	<key>KeyboardShortcuts_throw-space-6</key>
	<string>{"carbonKeyCode":22,"carbonModifiers":6656}</string>
	<key>KeyboardShortcuts_throw-space-7</key>
	<string>{"carbonKeyCode":26,"carbonModifiers":6656}</string>
	<key>KeyboardShortcuts_throw-space-8</key>
	<string>{"carbonKeyCode":28,"carbonModifiers":6656}</string>
	<key>KeyboardShortcuts_throw-space-9</key>
	<string>{"carbonKeyCode":25,"carbonModifiers":6656}</string>
	<key>KeyboardShortcuts_throw-space-left</key>
	<string>{"carbonKeyCode":123,"carbonModifiers":6656}</string>
	<key>KeyboardShortcuts_throw-space-right</key>
	<string>{"carbonKeyCode":124,"carbonModifiers":6656}</string>
	<key>KeyboardShortcuts_toggle-float</key>
	<string>{"carbonKeyCode":17,"carbonModifiers":2560}</string>
	<key>KeyboardShortcuts_toggle-focus-follows-mouse</key>
	<string>{"carbonKeyCode":7,"carbonModifiers":6656}</string>
	<key>KeyboardShortcuts_toggle-tiling</key>
	<string>{"carbonKeyCode":17,"carbonModifiers":6656}</string>
	<key>debug-layout-info</key>
	<false/>
	<key>enables-layout-hud</key>
	<true/>
	<key>enables-layout-hud-on-space-change</key>
	<true/>
	<key>enables-window-count-hud</key>
	<false/>
	<key>float-small-windows</key>
	<true/>
	<key>floating</key>
	<array/>
	<key>floating-is-blacklist</key>
	<true/>
	<key>focus-follows-mouse</key>
	<false/>
	<key>follow-space-thrown-windows</key>
	<true/>
	<key>ignore-menu-bar</key>
	<false/>
	<key>layouts</key>
	<array>
		<string>tall</string>
		<string>fullscreen</string>
		<string>two-pane</string>
		<string>floating</string>
	</array>
	<key>migrated-command1</key>
	<true/>
	<key>migrated-command2</key>
	<true/>
	<key>migrated-command3</key>
	<true/>
	<key>migrated-command4</key>
	<true/>
	<key>migrated-cycle-layout</key>
	<true/>
	<key>migrated-cycle-layout-backward</key>
	<true/>
	<key>migrated-decrease-main</key>
	<true/>
	<key>migrated-decrease-window-max-count</key>
	<true/>
	<key>migrated-disable-tiling</key>
	<true/>
	<key>migrated-display-current-layout</key>
	<true/>
	<key>migrated-enable-tiling</key>
	<true/>
	<key>migrated-expand-main</key>
	<true/>
	<key>migrated-focus-ccw</key>
	<true/>
	<key>migrated-focus-cw</key>
	<true/>
	<key>migrated-focus-main</key>
	<true/>
	<key>migrated-focus-screen-1</key>
	<true/>
	<key>migrated-focus-screen-2</key>
	<true/>
	<key>migrated-focus-screen-3</key>
	<true/>
	<key>migrated-focus-screen-4</key>
	<true/>
	<key>migrated-focus-screen-5</key>
	<true/>
	<key>migrated-focus-screen-ccw</key>
	<true/>
	<key>migrated-focus-screen-cw</key>
	<true/>
	<key>migrated-increase-main</key>
	<true/>
	<key>migrated-increase-window-max-count</key>
	<true/>
	<key>migrated-reevaluate-windows</key>
	<true/>
	<key>migrated-relaunch-amethyst</key>
	<true/>
	<key>migrated-select-3column-left-layout</key>
	<true/>
	<key>migrated-select-3column-right-layout</key>
	<true/>
	<key>migrated-select-4column-left-layout</key>
	<true/>
	<key>migrated-select-4column-right-layout</key>
	<true/>
	<key>migrated-select-bsp-layout</key>
	<true/>
	<key>migrated-select-column-layout</key>
	<true/>
	<key>migrated-select-floating-layout</key>
	<true/>
	<key>migrated-select-fullscreen-layout</key>
	<true/>
	<key>migrated-select-middle-wide-layout</key>
	<true/>
	<key>migrated-select-row-layout</key>
	<true/>
	<key>migrated-select-tall-layout</key>
	<true/>
	<key>migrated-select-tall-right-layout</key>
	<true/>
	<key>migrated-select-two-pane-layout</key>
	<true/>
	<key>migrated-select-two-pane-right-layout</key>
	<true/>
	<key>migrated-select-wide-layout</key>
	<true/>
	<key>migrated-select-widescreen-tall-layout</key>
	<true/>
	<key>migrated-select-widescreen-tall-right-layout</key>
	<true/>
	<key>migrated-shrink-main</key>
	<true/>
	<key>migrated-swap-ccw</key>
	<true/>
	<key>migrated-swap-cw</key>
	<true/>
	<key>migrated-swap-main</key>
	<true/>
	<key>migrated-swap-screen-ccw</key>
	<true/>
	<key>migrated-swap-screen-cw</key>
	<true/>
	<key>migrated-throw-screen-1</key>
	<true/>
	<key>migrated-throw-screen-2</key>
	<true/>
	<key>migrated-throw-screen-3</key>
	<true/>
	<key>migrated-throw-screen-4</key>
	<true/>
	<key>migrated-throw-screen-5</key>
	<true/>
	<key>migrated-throw-space-1</key>
	<true/>
	<key>migrated-throw-space-10</key>
	<true/>
	<key>migrated-throw-space-11</key>
	<true/>
	<key>migrated-throw-space-12</key>
	<true/>
	<key>migrated-throw-space-13</key>
	<true/>
	<key>migrated-throw-space-14</key>
	<true/>
	<key>migrated-throw-space-15</key>
	<true/>
	<key>migrated-throw-space-16</key>
	<true/>
	<key>migrated-throw-space-2</key>
	<true/>
	<key>migrated-throw-space-3</key>
	<true/>
	<key>migrated-throw-space-4</key>
	<true/>
	<key>migrated-throw-space-5</key>
	<true/>
	<key>migrated-throw-space-6</key>
	<true/>
	<key>migrated-throw-space-7</key>
	<true/>
	<key>migrated-throw-space-8</key>
	<true/>
	<key>migrated-throw-space-9</key>
	<true/>
	<key>migrated-throw-space-left</key>
	<true/>
	<key>migrated-throw-space-right</key>
	<true/>
	<key>migrated-toggle-float</key>
	<true/>
	<key>migrated-toggle-focus-follows-mouse</key>
	<true/>
	<key>migrated-toggle-tiling</key>
	<true/>
	<key>mod1</key>
	<array>
		<string>option</string>
		<string>shift</string>
	</array>
	<key>mod2</key>
	<array>
		<string>option</string>
		<string>shift</string>
		<string>control</string>
	</array>
	<key>mouse-follows-focus</key>
	<true/>
	<key>new-windows-to-main</key>
	<false/>
	<key>restore-layouts-on-launch</key>
	<true/>
	<key>screen-padding-bottom</key>
	<integer>0</integer>
	<key>screen-padding-left</key>
	<integer>0</integer>
	<key>screen-padding-right</key>
	<integer>0</integer>
	<key>screen-padding-top</key>
	<integer>0</integer>
	<key>small-window-size</key>
	<integer>500</integer>
	<key>use-canary-build</key>
	<false/>
	<key>window-margin-size</key>
	<integer>5</integer>
	<key>window-margins</key>
	<true/>
	<key>window-max-count</key>
	<integer>0</integer>
	<key>window-minimum-height</key>
	<integer>0</integer>
	<key>window-minimum-width</key>
	<integer>0</integer>
	<key>window-resize-step</key>
	<integer>5</integer>
</dict>
</plist>
