name: lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint-check:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install required packages
      run: brew install shellcheck
# Lint scripts
    - name: Check shell scripts
      run: |
        find scripts -name "*.sh" -exec shellcheck {} \;
